@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #777;
    line-height: 1.7;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    color: #222;
}

a {
    color: #222;
    text-decoration: none;
    transition: all 0.4s;
    font-weight: 600;
}

a:hover {
    color: #f59217;
}

img {
    width: 100%;

}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.sjena-hover {
    transition: all 0.3s;
}
.sjena-hover:hover {
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}


.logovrh {
    width: 100px;
} 



.navbar-toggler-icon { 
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28245, 146, 23, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-toggler {
    border: 1px solid rgb(245, 146, 23);
    color: rgb(245, 146, 23);
    
}


/* Gumb */
.btn {
    border: 0;
    padding: 14px 38px;
}
.btn-brand {
    background-color: #f59217;
    color: white;
    font-weight: 500;
    border-color: #f59217;
}

.btn-brand:hover {
    background-color: #c9750f;
    border-color: #c9750f;
    color: white;
}

.pozadina {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}


/* Slider */
.slajd-1 {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../slike/pocetna1.jpg);
}

.slajd-2 {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../slike/pocetna2.jpg);
}




#pocetna h6::after,
#pocetna h6::before {
    content: " ";
    width: 40px;
    height: 4px;
    background-color: white;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;

}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0,0,0,0.6);
    width: 40px;
    height: 70px;
    margin: auto;
}

/* Navbar */
.navbar-nav .nav-link.active {
    color: #f59217;
}


/* O nama */
#onama .crtica {
    width: 60px;
    height: 2px;
    display: block;
    background-color: #f59217;
}

/*    Jelovnik   */

.uvodni-tekst {
    margin-bottom: 40px;
    text-align: center;
}

.uvodni-tekst p {
    max-width: 500px;
    margin: 16px auto 0 auto;
}

#meni .nav-pills .nav-link {
    background-color: white;
    margin-left: 8px;
    margin-right: 8px;
    color: #222;
    border-radius: 100px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}

#meni .nav-pills .nav-link.active {
    background-color: #f59217;
    color: white;
}

.meni-slika .ocjena {
    color: #f59217;
}

/* Usluge */
#usluge {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../slike/svajela8.jpg);
}

.usluga {
    border: 2px solid rgba(255,255,255,0.2);
}

.usluga .usluga-ikona {
    width: 80px;
    height: 80px;
    background-color: #f59217;
    color: white;
    font-size: 28px;
    display: inline-grid;
    align-content: center;
    text-align: center;
}


/*  Kuhari  */


.tim-kuhara img {
    max-width: 140px;
    box-shadow: -10px -10px 0 #f59217;
    border-radius: 100px;
}

/* Rezervacija */

#rezervacija .form-control{
    border-radius: 0;
}

#rezervacija .form-control:focus{
box-shadow: none;
border-color: #f59217;
}

#rezervacija input.form-control{
    height: 47px;
}

/*  Podnožje */

footer {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../slike/footer.jpg);
    padding-top: 120px;
    padding-bottom: 30px;
}

.footer-top {
    margin-bottom: 30px;
}

footer p, footer a {
    color: rgba(255, 255, 255, 0.75);
}

footer img {
    max-width: 175px;
    margin-right: 10px;
}

footer .drustvene-mreze a{
    font-weight: normal;
    font-size: 24px;
}

.footer-bottom {
    padding-top: 30px;
    border-top: 1px solid rgba(255,255,255,0.4);
}